body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.parallax-img1, .parallax-img2 {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-img1 {
    background-image: url('https://pxpx.imgix.net/2021/10/parallax-1.jpg?auto=compress%2Cformat&fit=crop&h=1080&q=90&w=1920&s=1b27afe5d267cee4c23c37e4c2cd1067');
}

.parallax-img2 {
    background-image: url('https://i0.wp.com/www.cssscript.com/wp-content/uploads/2018/02/basicScroll.png?fit=558%2C410&ssl=1');
}


.static-block {
    height: 400px; 
    background-color: black;
    color: white;
    font-size: 36px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption span {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    opacity: 0.8;
}