body {
    margin: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
}

button:active {
    transform: translate(4px, 4px);
}