body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

td {
    width: 50%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 20px;
}

.cell-one {
    background-color: rgb(255, 251, 0);
}

.cell-two {
    background-color: rgb(195, 0, 255);
}