body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #333;
}

button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}